In [1]:
import pandas as pd

# Load the combined dataset
df = pd.read_csv("combined_ipl_data.csv")

# Display first few rows
df.head()

,Match_Id,Player_Id,Team_Id_player,Is_Keeper,Is_Captain,Player_Name,DOB,Batting_Hand,Bowling_Skill,Country,...,Season_Year,Orange_Cap_Id,Purple_Cap_Id,Man_of_the_Series_Id,Team_Id_match,Team_Name_match,Team_Short_Code_match,Team_Id_opponent,Team_Name_opponent,Team_Short_Code_opponent
0,335987,1,1,0,1,SC Ganguly,8-Jul-72,Left_Hand,Right-arm medium,India,...,2008,100,102,32,2,Royal Challengers Bangalore,RCB,1,Kolkata Knight Riders,KKR
1,335987,2,1,0,0,BB McCullum,27-Sep-81,Right_Hand,Right-arm medium,New Zealand,...,2008,100,102,32,2,Royal Challengers Bangalore,RCB,1,Kolkata Knight Riders,KKR
2,335987,3,1,0,0,RT Ponting,19-Dec-74,Right_Hand,Right-arm medium,Australia,...,2008,100,102,32,2,Royal Challengers Bangalore,RCB,1,Kolkata Knight Riders,KKR
3,335987,4,1,0,0,DJ Hussey,15-Jul-77,Right_Hand,Right-arm offbreak,Australia,...,2008,100,102,32,2,Royal Challengers Bangalore,RCB,1,Kolkata Knight Riders,KKR
4,335987,5,1,0,0,Mohammad Hafeez,17-Oct-80,Right_Hand,Right-arm offbreak,Pakistan,...,2008,100,102,32,2,Royal Challengers Bangalore,RCB,1,Kolkata Knight Riders,KKR

In [2]:
# Check data types, null values
df.info()

# Quick stats
df.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12694 entries, 0 to 12693
Data columns (total 42 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Match_Id                  12694 non-null  int64
 1   Player_Id                 12694 non-null  int64
 2   Team_Id_player            12694 non-null  int64
 3   Is_Keeper                 12694 non-null  int64
 4   Is_Captain                12694 non-null  int64
 5   Player_Name               12694 non-null  object
 6   DOB                       12694 non-null  object
 7   Batting_Hand              12694 non-null  object
 8   Bowling_Skill             11694 non-null  object
 9   Country                   12694 non-null  object
 10  Is_Umpire                 12694 non-null  int64
 11  Unnamed: 7                0 non-null      float64
 12  Team_Name_player          12694 non-null  object
 13  Team_Short_Code_player    12694 non-null  object
 14  Match_Date                12694 non-null  object
 15  Team_Name_Id              12694 non-null  int64
 16  Opponent_Team_Id          12694 non-null  int64
 17  Season_Id                 12694 non-null  int64
 18  Venue_Name                12694 non-null  object
 19  Toss_Winner_Id            12694 non-null  int64
 20  Toss_Decision             12694 non-null  object
 21  IS_Superover              12694 non-null  int64
 22  IS_Result                 12694 non-null  int64
 23  Is_DuckWorthLewis         12694 non-null  int64
 24  Win_Type                  12694 non-null  object
 25  Won_By                    12496 non-null  float64
 26  Match_Winner_Id           12628 non-null  float64
 27  Man_Of_The_Match_Id       12628 non-null  float64
 28  First_Umpire_Id           12694 non-null  int64
 29  Second_Umpire_Id          12694 non-null  int64
 30  City_Name                 12694 non-null  object
 31  Host_Country              12694 non-null  object
 32  Season_Year               12694 non-null  int64
 33  Orange_Cap_Id             12694 non-null  int64
 34  Purple_Cap_Id             12694 non-null  int64
 35  Man_of_the_Series_Id      12694 non-null  int64
 36  Team_Id_match             12694 non-null  int64
 37  Team_Name_match           12694 non-null  object
 38  Team_Short_Code_match     12694 non-null  object
 39  Team_Id_opponent          12694 non-null  int64
 40  Team_Name_opponent        12694 non-null  object
 41  Team_Short_Code_opponent  12694 non-null  object
dtypes: float64(4), int64(21), object(17)
memory usage: 4.1+ MB

,Match_Id,Player_Id,Team_Id_player,Is_Keeper,Is_Captain,Player_Name,DOB,Batting_Hand,Bowling_Skill,Country,...,Season_Year,Orange_Cap_Id,Purple_Cap_Id,Man_of_the_Series_Id,Team_Id_match,Team_Name_match,Team_Short_Code_match,Team_Id_opponent,Team_Name_opponent,Team_Short_Code_opponent
count,12694.000000,12694.000000,12694.000000,12694.000000,12694.000000,12694,12694,12694,11694,12694,...,12694.000000,12694.000000,12694.000000,12694.000000,12694.000000,12694,12694,12694.000000,12694,12694
unique,NaN,NaN,NaN,NaN,NaN,469,455,2,14,11,...,NaN,NaN,NaN,NaN,NaN,13,13,NaN,13,13
top,NaN,NaN,NaN,NaN,NaN,SK Raina,30-Apr-87,Right_Hand,Right-arm offbreak,India,...,NaN,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,RCB,NaN,Mumbai Indians,MI
freq,NaN,NaN,NaN,NaN,NaN,146,225,9130,3132,8186,...,NaN,NaN,NaN,NaN,NaN,1716,1716,NaN,1716,1716
mean,591635.963605,157.785962,5.156846,0.090909,0.090909,NaN,NaN,NaN,NaN,NaN,...,2012.029463,94.171577,164.367418,154.091854,5.102253,NaN,NaN,5.211438,NaN,NaN
std,196204.135245,120.988401,3.041802,0.287491,0.287491,NaN,NaN,NaN,NaN,NaN,...,2.484189,67.414348,99.131522,125.476767,3.060169,NaN,NaN,3.022337,NaN,NaN
min,335987.000000,1.000000,1.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,...,2008.000000,8.000000,61.000000,8.000000,1.000000,NaN,NaN,1.000000,NaN,NaN
25%,419140.000000,53.000000,3.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,...,2010.000000,19.000000,71.000000,32.000000,3.000000,NaN,NaN,3.000000,NaN,NaN
50%,548353.000000,130.000000,5.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,...,2012.000000,100.000000,131.000000,133.000000,5.000000,NaN,NaN,5.000000,NaN,NaN
75%,734004.000000,244.000000,7.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,...,2014.000000,162.000000,194.000000,305.000000,7.000000,NaN,NaN,7.000000,NaN,NaN
max,981024.000000,469.000000,13.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,...,2016.000000,187.000000,364.000000,334.000000,13.000000,NaN,NaN,13.000000,NaN,NaN

In [3]:
print(df.columns.tolist())

['Match_Id', 'Player_Id', 'Team_Id_player', 'Is_Keeper', 'Is_Captain', 'Player_Name', 'DOB', 'Batting_Hand', 'Bowling_Skill', 'Country', 'Is_Umpire', 'Unnamed: 7', 'Team_Name_player', 'Team_Short_Code_player', 'Match_Date', 'Team_Name_Id', 'Opponent_Team_Id', 'Season_Id', 'Venue_Name', 'Toss_Winner_Id', 'Toss_Decision', 'IS_Superover', 'IS_Result', 'Is_DuckWorthLewis', 'Win_Type', 'Won_By', 'Match_Winner_Id', 'Man_Of_The_Match_Id', 'First_Umpire_Id', 'Second_Umpire_Id', 'City_Name', 'Host_Country', 'Season_Year', 'Orange_Cap_Id', 'Purple_Cap_Id', 'Man_of_the_Series_Id', 'Team_Id_match', 'Team_Name_match', 'Team_Short_Code_match', 'Team_Id_opponent', 'Team_Name_opponent', 'Team_Short_Code_opponent']

In [4]:
# Drop rows with null values in the winner column (adjust name if needed)
df = df.dropna(subset=['Match_Winner_Id']).copy()

# Forward fill for other columns
df = df.ffill()

# Convert 'date' to datetime format
if 'date' in df.columns:
    df['date'] = pd.to_datetime(df['date'])

In [13]:
print(df.isna().sum())

Match_Id                        0
Player_Id                       0
Team_Id_player                  0
Is_Keeper                       0
Is_Captain                      0
Player_Name                     0
DOB                             0
Batting_Hand                    0
Bowling_Skill                   0
Country                         0
Is_Umpire                       0
Unnamed: 7                  12628
Team_Name_player                0
Team_Short_Code_player          0
Match_Date                      0
Team_Name_Id                    0
Opponent_Team_Id                0
Season_Id                       0
Venue_Name                      0
Toss_Winner_Id                  0
Toss_Decision                   0
IS_Superover                    0
IS_Result                       0
Is_DuckWorthLewis               0
Win_Type                        0
Won_By                          0
Match_Winner_Id                 0
Man_Of_The_Match_Id             0
First_Umpire_Id                 0
Second_Umpire_Id                0
City_Name                       0
Host_Country                    0
Season_Year                     0
Orange_Cap_Id                   0
Purple_Cap_Id                   0
Man_of_the_Series_Id            0
Team_Id_match                   0
Team_Name_match                 0
Team_Short_Code_match           0
Team_Id_opponent                0
Team_Name_opponent              0
Team_Short_Code_opponent        0
toss_win_match_win              0
dtype: int64

In [14]:
df = df.drop('Unnamed: 7', axis=1)

In [15]:
print(df.isna().sum())

Match_Id                    0
Player_Id                   0
Team_Id_player              0
Is_Keeper                   0
Is_Captain                  0
Player_Name                 0
DOB                         0
Batting_Hand                0
Bowling_Skill               0
Country                     0
Is_Umpire                   0
Team_Name_player            0
Team_Short_Code_player      0
Match_Date                  0
Team_Name_Id                0
Opponent_Team_Id            0
Season_Id                   0
Venue_Name                  0
Toss_Winner_Id              0
Toss_Decision               0
IS_Superover                0
IS_Result                   0
Is_DuckWorthLewis           0
Win_Type                    0
Won_By                      0
Match_Winner_Id             0
Man_Of_The_Match_Id         0
First_Umpire_Id             0
Second_Umpire_Id            0
City_Name                   0
Host_Country                0
Season_Year                 0
Orange_Cap_Id               0
Purple_Cap_Id               0
Man_of_the_Series_Id        0
Team_Id_match               0
Team_Name_match             0
Team_Short_Code_match       0
Team_Id_opponent            0
Team_Name_opponent          0
Team_Short_Code_opponent    0
toss_win_match_win          0
dtype: int64

In [16]:
# Create a feature for whether the toss winner also won the match
df['toss_win_match_win'] = (df['Toss_Winner_Id'] == df['Match_Winner_Id']).astype(int)

# One-hot encode teams and venue
df_encoded = pd.get_dummies(df, columns=['Team_Name_Id', 'Opponent_Team_Id', 'Venue_Name'], drop_first=True)

# Example: encode toss decision
df_encoded['bat_first'] = (df['Toss_Decision'] == 'bat').astype(int)

# Define target variable
y = df_encoded['Match_Winner_Id']
X = df_encoded.drop(columns=['Match_Winner_Id', 'Match_Id'])  # drop non-predictive columns

In [17]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
y_encoded = label_encoder.fit_transform(y)

# Save this encoder to decode predictions later
import joblib
joblib.dump(label_encoder, 'label_encoder.pkl')

['label_encoder.pkl']

In [18]:
from sklearn.model_selection import train_test_split
import numpy as np

In [19]:
X = df.select_dtypes(include=np.number).drop('Match_Winner_Id', axis=1)
y = LabelEncoder().fit_transform(df['Match_Winner_Id'])

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [20]:
print(type(X_train), X_train.shape)
print(type(y_train), y_train.shape)
print(y_train[:5])

<class 'pandas.core.frame.DataFrame'> (10102, 24)
<class 'numpy.ndarray'> (10102,)
[ 3  1  0 12  4]

In [22]:
# Encode categorical columns before splitting data
from sklearn.preprocessing import LabelEncoder

# Team and Player IDs
for col in ['Team_Name_Id', 'Opponent_Team_Id', 'Player_Id']:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])

# Match outcome encoding
df['Match_Winner_Id'] = LabelEncoder().fit_transform(df['Match_Winner_Id'])

In [ ]:
from sklearn.ensemble import StackingClassifier, RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

# Define base learners
base_learners = [
    ('lr', LogisticRegression(multi_class='multinomial', solver='lbfgs', max_iter=1000)),
    ('svc', SVC(probability=True)),  # Needed for stacking
    ('nb', GaussianNB()),
    ('dt', DecisionTreeClassifier())
]

# Define final estimator
final_estimator = RandomForestClassifier()

# Create stacking classifier
# Modified stacking classifier with proper params
stacked_model = StackingClassifier(
    estimators=base_learners,
    final_estimator=final_estimator,
    cv=5,
    n_jobs=-1,
    passthrough=False  # Ensure no raw features pass through
)

from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='mean')
X_train_imputed = imputer.fit_transform(X_train)
X_test_imputed = imputer.transform(X_test)

stacked_model.fit(X_train_imputed, y_train)
y_pred = stacked_model.predict(X_test_imputed)


# Predict
y_pred = stacked_model.predict(X_train)

# Evaluate
accuracy = accuracy_score(y_train, y_pred)
print(f"Training Accuracy: {accuracy:.4f}")